*{

margin:0;

padding:0;

box-sizing:border-box;

}

html{

scroll-behavior:smooth;

}

body{

background:#090909;

color:white;

font-family:'Poppins',sans-serif;

overflow-x:hidden;

}

a{

text-decoration:none;

color:inherit;

}

img{

display:block;

max-width:100%;

}