.about{

padding:120px 8%;

background:#0d0d0d;

}

.about-container{

max-width:1300px;

margin:auto;

}

.about h2{

text-align:center;

font-size:55px;

margin-bottom:70px;

color:#d4af37;

}

.about-top{

display:flex;

justify-content:space-between;

align-items:center;

gap:70px;

margin-bottom:80px;

}

.about-image{

width:360px;

height:420px;

border-radius:30px;

overflow:hidden;

border:3px solid #d4af37;

box-shadow:0 0 35px rgba(212,175,55,.3);

flex-shrink:0;

}

.about-image img{

width:100%;

height:100%;

object-fit:cover;

}

.about-text{

flex:1;

}

.about-text h3{

font-size:38px;

margin-bottom:25px;

}

.about-text span{

color:#d4af37;

font-weight:700;

}

.about-text p{

font-size:20px;

line-height:38px;

color:#d3d3d3;

margin-bottom:22px;

}

.about-cards{

display:grid;

grid-template-columns:repeat(3,1fr);

gap:30px;

margin-bottom:70px;

}

.about-card{

background:rgba(255,255,255,.05);

backdrop-filter:blur(12px);

border:1px solid rgba(212,175,55,.2);

padding:40px;

border-radius:25px;

text-align:center;

transition:.4s;

}

.about-card:hover{

transform:translateY(-10px);

box-shadow:0 0 30px rgba(212,175,55,.25);

}

.about-card svg{

font-size:45px;

color:#d4af37;

margin-bottom:20px;

}

.about-card h3{

margin-bottom:18px;

font-size:28px;

}

.about-card p{

line-height:34px;

color:#ddd;

}

.stats{

display:grid;

grid-template-columns:repeat(4,1fr);

gap:25px;

}

.stat{

background:#171717;

padding:35px;

border-radius:20px;

text-align:center;

}

.stat svg{

font-size:38px;

color:#d4af37;

}

.stat h1{

font-size:44px;

margin:15px 0;

}

.stat p{

color:#bbb;

}