.footer{
    padding:120px 20px 80px;
    text-align:center;
}

.footer h2{
    font-size:72px;
    color:#d4af37;
    margin-bottom:20px;
}

.footer p{
    max-width:700px;
    margin:auto;
    color:#aaa;
    line-height:32px;
    font-size:20px;
}

.footer-links{
    margin-top:50px;

    display:flex;
    justify-content:center;
    gap:40px;

    flex-wrap:wrap;
}

.footer-links a{
    color:white;
    text-decoration:none;
}

.footer-socials{
    display:flex;
    justify-content:center;
    gap:25px;
    margin-top:40px;
}