.footer{

padding:80px 8%;

background:#060606;

}

.footer-container{

max-width:1200px;

margin:auto;

text-align:center;

}

.footer h2{

font-family:'Cormorant Garamond',serif;

font-size:55px;

font-style:italic;

color:#d4af37;

margin-bottom:10px;

}

.footer p{

font-size:20px;

color:#d6d6d6;

margin-bottom:15px;

}

.footer span{

display:block;

color:#999;

line-height:34px;

margin-bottom:45px;

}

.footer-social{

display:flex;

justify-content:center;

gap:30px;

margin-bottom:40px;

}

.footer-social a{

width:65px;

height:65px;

display:flex;

justify-content:center;

align-items:center;

background:#141414;

border-radius:50%;

font-size:26px;

transition:.35s;

border:1px solid rgba(212,175,55,.15);

}

.footer-social a:hover{

background:#d4af37;

color:black;

transform:translateY(-8px);

}

.footer hr{

border:none;

height:1px;

background:#222;

margin:40px 0;

}

.copyright{

color:#888;

margin-bottom:15px;

}

.made{

display:flex;

justify-content:center;

align-items:center;

gap:10px;

color:#aaa;

}

.made svg{

color:#d4af37;

}